<!DOCTYPE html>
<html>
    <head>
        <title>Welcome PAge</title>
    </head>
    <body>
        <h1>Landing Page</h1>
        <hr/>
        <ul>
            <li><a href="/api/landingpage">HOME</a></li>
            <li><a href="/api/signup">SIGNUP</a></li>
            <li><a href="/api/login">LOGIN</a></li>
        </ul>
    </hr>
    <button><a href="/api/product">GET PRODUCT</a></button>


    </body>
</html>