<!DOCTYPE html>
<html>
    <head>
        <title>Welcome PAge</title>
    </head>
    <body>
        <h1>Landing PAge</h1>
        <hr/>
        <ul>
            <li>HOME</li>
            <li>SIGNUP</li>
            <li>LOGIN</li>
        </ul>
    </body>
</html>