<!DOCTYPE html>
<html>
    <head><title>Ecommerce page</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    </head>
    <style>
        body {
            padding-top: 70px;}
        .row .flex {
            display: inline-flex;
            width: 100%;}
        img {
            width:100%;
            min-height:100px;}
    </style>
<body>

<div class="container certer ">
<h1>Sign up Page</h1>
<form action="/api/user/register" method="POST">
    <input type="text" placeholder="Email" name="userEmail"><br><br>
    <input type="text" placeholder="password" name="userPassword"><br><br>
    <input type="text" placeholder="userFullName" name="userFullName"><br><br>
    <input type="text" placeholder="userContactNo" name="userContactNo"><br><br>
    <input type="text" placeholder="userAddress" name="userAddress"><br><br>
    <input type="text" placeholder="userRole" name="userRole"></br></br>
    <button>submit</button>
</form>
    <a href="/api/landingpage"> Go Back</a>
</div>
    </body>
    </html>





<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Welcome PAge</title>
    </head>
    <body>
        <h1>Signup Page</h1>
        <hr/>
        <form action="post">
            <label>Email</label>
            <input type="text" placeholder="Enter the email" name="email"><br><br>
            <label>Password</label>
            <input type="text" placeholder="Enter the Password" name="password">
        </form>
    </body>
</html> -->